.main-section {
  min-height:100vh;
  padding: calc(64px + 0rem) 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}


.navbar-fixed {
  height:0; // do not offset content
}