@require "utils";
@require "colors";
@require "typography";
@require "animations";
@require "nav";
@require "icons";

// TODO: clean up styles
// - use color pallete
// - use uniform gutter and font sizes


body
html
  width: 100%;
  height: 100%;

h1, h2, h3, h4, h5, h6
   margin: 0 0 1rem;

p
  margin: 0 0 1rem;

a
  color: get-color('accent');
  transition: color 0.2s ease-in-out;

  &:hover, &:focus
    text-decoration: none;
    color: get-color('accent', 10);

.btn-circle
  width: 70px;
  height: 70px;
  margin-top: 1rem;
  border: 2px solid #ffffff;
  border-radius: 35px;
  font-size: 40px;
  color: #ffffff;
  background: transparent;
  transition: background 0.3s ease-in-out;

  &:hover
  &:focus
    outline: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);

.page-scroll
  .btn-circle
    i.animated
      transition-property: transform;
      transition-duration: 1s;
    &:hover i.animated
      animation-name: pulse;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;


// set container to 100% in mobile (why is this not the default)
.container
  width: 100%;
  +breakpoint('sm')
    width: $breakpoints['sm']
  +breakpoint('md')
    width: $breakpoints['md']
  +breakpoint('lg')
    width: $breakpoints['lg']
  +breakpoint('xl')
    width: $breakpoints['xl']

.content-section
  min-height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;

  .container
    margin: calc(5rem + 50px) auto

  p
    font-size: 1.5rem;
    margin-top: 1.5rem;

    +breakpoint('sm')
      font-size: 2rem;
      margin-top: 2rem;


.intro
  text-align: center;
  background: #000 url(../img/bg.jpg) no-repeat center center scroll;
  background: #000 url(../img/bg.webp) no-repeat center center scroll;
  background-size: cover;
  background-attachment: fixed;
  color: get-color('neutral','contrast');

  .brand
    background: get-color('neutral','contrast',0.1)
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 1rem;

    h1
      margin:0;

  .brand-heading
    width: 100%;
    font-size: 5rem;
  .tagline
    font-size: 18px;


#about
  padding:0;
  color: get-color('neutral','contrast');
  background-color: get-color('neutral','light');

#projects
  background-color: get-color('secondary')
  color: get-color('secondary','contrast')

  h2
    text-align: center;
    margin-bottom:5rem;

  .project
    margin-bottom: 5rem;
    padding: 1rem;

    p
      font-size: 1.5rem;
    .project-icon
      margin-bottom: 5rem;

      +breakpoint('sm')
        margin-bottom:0;
      a, img, svg
        display:block;
        margin:0;
        width:100%;

      path
        fill: #1f3a93; //get-color('secondary','contrast')

      text
        fill: get-color('secondary','contrast');
        stroke: get-color('secondary','contrast');

#contact
  background-color: get-color('neutral','dark')
  color: get-color('neutral','contrast')
  text-align: center;

  .contacts
    list-style: none;
    padding: 0;
    margin-top: 5rem;
    display:flex;
    flex-direction: row;

    flex-wrap: nowrap;
    justify-content: space-evenly

    svg.contact-icon
      width: 15vmin;
      height: 15vmin;

      path
        fill: get-color('neutral','contrast');
        transition: 0.5s;

    +breakpoint('md')
      justify-content: center

      svg.contact-icon
        width: 5vmin;
        height: 5vmin;
        margin: 1rem

    a:hover svg.contact-icon path
      fill: get-color('accent')


    .link-label
      display: none;