.light
  font-weight: 400;

body
  font-family: 'Montserrat', sans-serif;


h1, h2, h3, h4, h5, h6
  text-transform: uppercase;
  letter-spacing: 1px;

p
  font-size: 1rem;
  line-height: 1.5;

  +breakpoint('sm')
    font-size: 1.1rem;
    line-height: 1.6;

.intro
  .brand-heading
  .tagline
    font-family: 'Exo', sans-serif;

// .navbar
//   font-family: 'Roboto', sans-serif;