#projects {
  background-color: $secondary-color;

  h2 {
    text-align: center;
    margin-bottom:2rem;
  }
  h4 {
    margin-top: 0;
  }


    .limiter {
      padding:0;
    }


  .project {
    margin-bottom: 2rem;
    padding: 1rem;

    p {
      font-size: 1.1rem;
    }
    .project-icon {
      margin-bottom: 2rem;

      @media #{$large-and-up} {
        margin-bottom:0;
      }

      a, img, svg {
        display:block;
        margin:0;
        width:100%;
      }

      path {
        fill: #1f3a93; //get-color('secondary','contrast')
      }

      text {
        fill: $foreground-color;
        stroke: $foreground-color;
      }
    }
  }
}